* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/bg2.png');
    /* background-size:cover; */
    display:flex;
    background-color: black;
    width:100vw;
    height:100vh;
    align-items: center;
    justify-content: center;
    color:white;
    flex-direction: column;
    font-size:2em;
}

.btn {
    background-color:rgb(85, 71, 52);
    padding:2px 20px;
    border-radius:10px;
    animation-name: showAndGo ;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    transition:0.3s;
    animation-timing-function:ease-in-out ;
}

@keyframes showAndGo {
    0% {
        opacity:1;
    }

    25% {
        opacity:0;
    }

    50% {
        opacity:1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity:1;
    }
}

.btn:hover {
    animation-name: none;
    opacity:1;
    transform:scale(1.03)
}

.toggle {
    position:absolute;
    top:5%;
    right:2%;
    opacity:70%;
    transition:0.3s;
}

a#toggleClick > img {
    border-radius:1000px;
    transition:0.3s;
    border:2px solid white;
}

a#toggleClick > img:hover {
    border-radius:100px;
    transform:scale(1.05);
    cursor:pointer;
}

.toggle:hover {
    opacity:100%;
}