* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../../img/bg-sky.jpg');
    background-color:skyblue;
}

.head {
    display:flex;
    align-items: center;
    flex-direction:column;
}

.head > p {
    letter-spacing: 2px;
}

.head > hr {
    width:100vw;
    border-color:black;
}

.container {
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    margin:2vh 0;
}

.container > div {
    transition:0.3s;
}

.container > div:hover {
    transform: scale(1.04);
}

.container > div img{
    border-radius:20px;
    margin-bottom:10px;
}

.Clicker > a {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Press Start 2P", Poppins;
}